/* To import fonts */
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


a {
  text-decoration: none;
}

/* modify the image */
.imgClass {
  width: 400px;
  filter: grayscale(100%);

}

body {
  background-color: white;
  /* font-family: Arial, Helvetica, Geneva, sans serif; */
  font-family: 'Open Sans', sans-serif;

}

/* Align the header left */
.leftHeading {
  text-align: left;
}


/* Style the feedback form */


form {
  display: inline-block;
}

#formDiv {
  display: inline-block;
  border: 1px solid black;
  padding: 50px;
}

/* Style the body of the feedback from */
#feedBackbody {
  background-color: white;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}


/* form design */

form {
  text-align: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 30px;
}

label {
  display: block;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: center;
}

/* animation for the text to float up */

/* placeholder styling of the input form */
label .label-text {
  color: #9B9B9B;
  font-size: 15px;
  text-transform: uppercase;
  /* change any text as placeholdr to all caps */

  /* Moving the element up - styles for diffreent browser support */
  -moz-transform: translateY(-34px);
  /*for mozilla moving the element vertically by -34 pixels.*/
  -ms-transform: translateY(-34px);
  /*moving the element vertically by -34 pixels.*/
  -webkit-transform: translateY(-34px);
  /* for safari and some chrome version - moving the element vertically by -34 pixels.*/
  transform: translateY(-34px);
  /* similar atyle for support for other beowser that suport transform property - */

  /* Set transition time form one state to another in 0.3 secs */
  transition: all 0.3s;
}

/* Style the input to just have a line than a box */
label input {
  background-color: transparent;
  /* make it transparent such that it merges with the background color*/
  border: 0;
  /* make all border 0*/
  border-bottom: 2px solid #4A4A4A;
  /*  Just keep the bottom border to 2px*/
  color: black;
  font-size: 20px;
  letter-spacing: 1px;
  /*Manage the letter spacing of the input text*/
  outline: 0;
  /* Keep the text input outline 0 when the input is active*/
  padding: 5px 20px;
  text-align: center;
  /* Set transition time form one state to another in 0.3 secs */
  transition: all 0.3s;

  width: 200px;
}

/* once you click in the input the input width box expands */
label input:focus {
  max-width: 100%;
  width: 400px;
}

/* To hide the placeholder when the input is on focus */
label input:focus+.label-text {
  visibility: hidden;
}


/* Feedback from button styling */
button {
  background: transparent;
  color: black;
  border: 2px solid #F0F0F0;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 20px 75px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 15px 30px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/* Reverse the color and background color on hover */
button:hover,
button:focus {
  background-color: black;
  color: white;
}

/* Styling for the radio button for Gender in Feedback from*/
#genderRadio {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #9B9B9B;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: black;
  font-size: 20px;
}



/* style the textarea input similar to other input*/
label textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #4A4A4A;
  color: black;
  font-size: 20px;
  letter-spacing: 1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  width: 800px;
  margin-bottom: -20px;
}


/* Increase the text area size when on focus */
label textarea:focus {
  max-width: 100%;
  width: 400px;
}

/* Hide the placeholder when the input is active */
label textarea:focus+.label-text {
  visibility: hidden;
}


/* Change the font color to white of H1 tag */
.whiteH1 {
  color: white;
}

/* Sourcelog table styling */


/* SourceLog table styling */
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  /*To make it curve on the top two corners */
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  /* Apply shadow to the table*/
  margin-left: auto;
  margin-right: auto;
}


/* SourceLog - Table header and row styling */
.content-table thead tr {
  background-color: black;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

/* SourceLog - Table content padding and alignment styling */
.content-table th,
.content-table td {
  padding: 12px 15px;
  /* Apply padding to the content */
  text-align: center;
  width: 350px;
  /* Set the width */
}


/* SourceLog - Extra border at the bottom of the table */
.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

/* To make the even rows of diff background color */
.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

/* Have a slight color border to the last of the rows */
.content-table tbody tr:last-of-type {
  border-bottom: 2px solid black;
}


/* Align the content in the sourcelog page to center */
/* #sourcelog-body {
  text-align: center;
} */



/* This style is for the sitemap content */

* {
  box-sizing: border-box;
}



/* Style the header in the SourceLog */
.wrapper {
  padding: 5px;
  /* Padding on sides*/
  max-width: 960px;
  width: 95%;
  margin: 20px auto;
  /*Top margin*/
}

.wrapper-div {
  padding: 5px;
  /* Padding on sides*/
  max-width: 960px;
  width: 95%;
  margin: 20px auto;
  /*Top margin*/
}

/* Site Map Styling */

header {
  padding: 0 15px;
}

.columns {
  display: flex;
  /* To arrange the sections with this container*/
  flex-flow: row wrap;
  /* To arrange the elements in the flex as rows*/
  justify-content: center;
  margin: 5px 0;
  margin-bottom: 130px;
}

.column {
  flex: 1;
  /* border: 1px solid gray; */
  margin: 2px;
  padding: 10px;

}


/* Remove the undelines from link tag */
.non-underline-a {
  text-decoration: none;
  color: #0071E3
}


/* me.html styling - start*/

img {
  max-width: 100%;
}

.image-left,
.image-right {
  margin: 1em 0;

}

/* Media query for screens with a minimum width of 20em */
@media (min-width: 20em) {

  /* Aligning image containers vertically centered */
  .image-left,
  .image-right {
    display: flex;
    align-items: center;
  }

  /* Adjusting margin and floating for images within image-left class */
  .image-left img {
    margin-right: 1em;
    float: left;
    /* fallback */
  }

  /* Adjusting order, margin, and floating for images within image-right class */
  .image-right img {
    order: 1;
    margin-left: 1em;
    float: right;
    /* fallback */
  }

  /* clearfix for fallback */
  .image-left::after,
  .image-right::after {
    content: "";
    display: block;
    clear: both;
  }
}

/* Media query for screens with a minimum width of 30em */
@media (min-width: 30em) {

  /* Preventing images within image-left and image-right classes from shrinking */
  .image-left img,
  .image-right img {
    flex-shrink: 0;
  }
}

/* Styling for the body tag with ID 'me-body-tag' */
#me-body-tag {
  margin: auto;
  max-width: 70em;
}


/* Top image section of me.html styling */

/* Apply box-sizing and font-family to all elements */
* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.content {
  width: 100%;
  height: 100%;
}

.photos {
  width: 95%;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
}

/* Set the area for image */
.thumbnails {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: transform .3s;
}

/* Make the selected image as the cover */
.thumbnails img {
  width: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

/* Set an overly black such that it looks disbaled and gets removed on hover */
.black {
  text-align: center;
  background: #000;
  background-blend-mode: multiply;
  color: #fff;
  width: 99%;
  height: 100%;
  position: absolute;
  opacity: .7;
  /*make it a bit transparent such that background image is visible*/
}

/* Add the text on top of the image */
/* .title {
  color: #ff430a;
  font-size: 2em;
  align-self: center;
  position: absolute;
  z-index: 10;
  /* to bring to the top of all the contents below*/
/* } */ 

/* Reduce the font-size of the title */
.sub-title {
  color: white;
  font-size: 1em;
  align-self: center;
  position: absolute;
  z-index: 10;
  /* to bring to the top of all the contents below*/
  text-align: center;
  margin-top: 30%;
}

.sub-desc {
  color: white;
  font-size: 1em;
  align-self: center;
  position: absolute;
  z-index: 10;
  /* to bring to the top of all the contents below*/
  text-align: center;
  margin-top: 70%;
}

/* Links to me and about website section styling */
.title-link {
  color: white;
  font-size: 2em;
  align-self: center;
  position: absolute;
  /* visibility: hidden; */
  /* z-index: 10; */
  z-index: -1;

}

/* override the default styling of the link tag */
.title-link>a {
  color: #ff430a !important;
  font-size: 60px;
}

.black,
.title {
  transition: opacity .3s;
}

.thumbnails:hover {
  cursor: pointer;
  /* Change cursor to pointer */
  transform: scale(1.05);
  /* Scale up the size of the thumbnail */
  z-index: 20;
  /* Increase the stacking order to ensure it appears above other elements */
}

/* To make these content hidden and only the links and image to be visisble */
.thumbnails:hover .black,
.thumbnails:hover .title,
.thumbnails:hover .sub-title,
.thumbnails:hover .sub-desc {
  opacity: 0;
}

.thumbnails:hover .title-link {
  z-index: 20;
  /* Increase the stacking order to ensure it appears above other elements */
}

/* Style the subtext of the author of the quote */
#subtext {
  font-style: italic;
  font-size: 27px;
}

/* Top image section of me.html styling end */


/* Me and about image styling */

#me-heading {
  margin-top: 60px;
}

.me-passion-img {
  width: 330px;
}

/* me.html styling - end */

/* Nav menu styling - index.html - start */

/* Class applied to the nav - style the nav */
.link {
  font-size: 22px;
  font-family: sans-serif;
  text-align: center;
  padding: 50px 0px;
  font-weight: 700;
  width: 102%;
}

/* Class applied to the nav children - link tag - style the link tag */
.link a {
  padding: 30px;
  text-decoration: none;
  color: #999;
  position: relative;
  transition: all 0.4s ease;
}

/* Style the border on the links on hover */

/* Styling for elements before and after when hovering over a link  */
.link a::before,
.link a::after {
  height: 20px;
  width: 20px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
  /* Initially hide elements */
}


.link a::before {
  content: '';
  top: 0;
  right: 0;
  border-top: 7px solid black;
  /* Create top border */
  border-right: 7px solid black;
  /* Create right border */
  transform: translate(-100%, 50%);
  /* Move element out of sight initially */
}

.link a::after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 7px solid black;
  /* Create bottom border */
  border-left: 7px solid black;
  /* Create left border */
  transform: translate(100%, -50%);
  /* Move element out of sight initially */

}

/* Styling for elements before and after when link is hovered */
.link a:hover:before,
.link a:hover:after {
  transform: translate(0, 0);
  /* Move elements to their original position */
  opacity: 1;
  /* Make visible */
}

/* Change the font color to black on hover */
.link a:hover {
  color: #ff430a;
}

/* Nav menu styling - index.html - end */

/* style logo */
.logo {
  display: inline;
  /* To make it inline with nav */
  float: left;
  width: 171px;
  border-radius: 50%;
  /* To make it circular */
  margin-left: 47px;
}

/* style selected menu item */
.selected {
  text-decoration: underline !important;
  /* Underline the nav item based on the current page */
  color: black !important;
  /* Make the text black */
}

/* Align text left */
/* Used in the header of the feedback form */
.text-align-left {
  text-align: left;
}

.p-font- {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

/* modal test */
/* .divColorChange
{
  background-color: green;
  width: 200px;
    height: 400px;
} */


/* footer */
#picassoFooter {
  background-color: #272727;
  /* color: #ff430a; */
  color: white;
  padding: 20px;
  display: flex;  /* Use flexbox for layout */
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  bottom: 0
}

.footer-navigation {
  text-align: left;
}

.footer-navigation,
.footer-contact,
.footer-social {
  margin: 10px;   /* Uniform margin for footer sections */

}

.footer-navigation h3,
.footer-contact h3,
.footer-social h3 {
  color: #ff430a;
  margin-bottom: 15px;
}

.footer-navigation ul,
.footer-social .social-icons {
  list-style: none; /* Remove default list styling */
  padding: 0;
}

.footer-navigation ul li,
.social-icon {
  margin-bottom: 10px;
  transition: transform 0.2s ease-in-out;
}

.footer-navigation ul li a,
.social-icon {
  color: #ffffff;
  text-decoration: none;
}

.social-icon {
  display: inline-block;
  padding: 8px;
  background-color: #333;
  margin-right: 5px;
}

.social-icon:hover,
.footer-navigation ul li a:hover {
  transform: scale(1.1); /* Enlarge icons/links on hover */
}

.footer-art canvas {
  max-width: 100px;
  height: auto;
  margin-top: 20px;
}

@media (max-width: 600px) {
  #picassoFooter {
    flex-direction: column; /* Stack footer items vertically on small screens */
    align-items: center;
  }

  .footer-art canvas {
    max-width: 100%;
  }
}

.footer-div {
  width: 200vh;
  margin-left: -240px;
}

/* Footer styling ends here */


/* Moves page image styling */
.moves-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 20px;
  filter: grayscale(1); /* Apply grayscale filter to image */
}

/* dropdwon menu for nav item appears on hover*/

.dropdown-content {
  display: none;  /* Hidden initially */
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  z-index: 1;
  margin-left: 1%;
}

.dropdown-content a {
  float: none;
  color: #999;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-link {
  display: inline-block; 
}

.dropdown-link:hover .dropdown-content,
.dropdown-link:focus-within .dropdown-content {
    display: block;
}


/* Show dropdown content when parent is focused or hovered */


 /* dropdwon menu for nav item appears on - for news*/

 .dropdown-content-news {
  display: none;  /* Hidden initially */
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  z-index: 1;
  margin-left: 1%;
}

.dropdown-content-news a {
  float: none;
  color: #999;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-link-news {
  display: inline-block; 
}

.dropdown-link-news:hover .dropdown-content-news,
.dropdown-link-news:focus-within .dropdown-content-news {
  display: block;  /* Make content appear on hover */
}

label select {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #4A4A4A;
    color: black;
    font-size: 20px;
    letter-spacing: 1px;
    outline: 0;
    padding: 5px 20px;
    text-align: center;
    width: 308px;
    transition: all 0.3s;
  }
  
  /* Expand the select field width on focus */
  label select:focus {
    max-width: 100%;
    width: 400px;
  }
  
  /* Hide the placeholder text when the select field is focused */
  label select:focus+.label-text {
    visibility: hidden;
  }
  
  /* Style the dropdown options */
  select option {
    background-color: white;
    color: black;
  }